{% extends 'base.html' %}

{% block title %}
Account Detail
{% endblock title %}

{% block content %}
    <h2>Account Detail</h2>
    <p>User: {{ user_profile.user.username }}</p>
    <p>Account Number: {{ user_profile.account_number }}</p>
    <p>Balance: {{ user_profile.balance }}</p>

    <h3>Transaction History</h3>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction.transaction_type }} - {{ transaction.amount }} - {{ transaction.timestamp }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'custom-userprofile-list' %}"><a href="{% url 'transactions' %}">Perform a Transaction</a>
{% endblock content %}
